<footer class="border-t relative z-50 bg-white dark:bg-gray-950">
    <div class="py-7 max-w-7xl mx-auto px-4">
        <div class="flex flex-col items-center md:flex-row md:items-start md:justify-between gap-5
                    font-medium 
                    md:px-5 xl:px-0">
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/products">Shop</a>
                </li>
            </ul>

            <ul class="text-center">
                <li>
                    <a href="tel:+391234567890">+391234567890</a>
                </li>
                <li class="my-2">
                    <a href="mailto:kickscorner@example.com">kickscorner&#64;example.com</a>
                </li>
                <li>
                    <p>VIA PROVA, PARMA PR, 43100, <br>EMILIA ROMAGNA, ITALIA</p>
                </li>
            </ul>

            <div>
                <h3>Social Networks</h3>
                <ul class="flex items-center justify-center gap-4 mt-2 md:justify-start">
                    <li>
                        <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="text-center mt-10">
            <a routerLink="/" class="logo dark:text-black">KICKSCORNER</a>
            <p>&copy; <span id="year"></span> KicksCorner All Rights Reserved</p>
        </div>
    </div>
</footer>