<div class="h-screen">
    <div class="p-7">
        <div>
            <h2 class="w-fit mx-auto text-2xl tracking-wider text-center"> WELCOME TO YOUR ACCOUNT </h2>
        </div>

        <div class="mt-20">
            <ul class="flex flex-col gap-5">
                <li>
                     <p>Hello, &nbsp; <span class="font-bold tracking-wider">{{ (user$ | async)?.fullName | titlecase }}</span></p>
                </li>
                <li class="flex items-center gap-2 pl-2">
                    <i class="fa fa-box"></i>
                    <a routerLink="/orders" class="py-2 underline">My orders</a>
                </li>

                <li class="flex items-center gap-2 pl-2">
                    <i class="fa-solid fa-key"></i>
                    <a routerLink="/password" class="py-2 underline">Change password</a>
                </li>

                <li class="flex items-center gap-2 pl-2">
                    <i class="fa-solid fa-trash"></i>
                    <button (click)="deleteAccount()" class="delete-btn py-2 underline cursor-pointer">Delete account</button>
                </li>

                <li class="flex items-center gap-2 pl-2">
                    <i class="fa fa-right-from-bracket"></i>
                    <button (click)="logout()" class="logout-btn cursor-pointer underline">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</div>