<div class="min-h-svh flex flex-col items-center justify-center">
    
    @if (successMsg().length > 0 && !isLoading()) {
        <p class="text-green-500 text-2xl tracking-wider mb-7">{{ successMsg() }}</p>
    }

    <div class="flex flex-col gap-9 border rounded-md p-3.5 w-xs md:w-xl border-gray-500">
        <label class="logo dark:text-black mx-auto">KICKSCORNER</label>
        <h3 class="text-2xl font-semibold">Reset &nbsp; password</h3>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)">
            <div class="flex flex-col gap-5">
                <div class="flex flex-col">
                    <label>Old Password</label>
                    <input type="password" placeholder="Enter old Password" formControlName="oldPassword"
                    class="border border-gray-300 dark:border-gray-500 placeholder:opacity-50 px-4 py-1.5 w-full rounded-sm">

                    @if (resetPasswordForm.get('oldPassword')?.touched && resetPasswordForm.get('oldPassword')?.dirty) {
                        <ng-container>
                            @if (resetPasswordForm.get('oldPassword')?.errors?.['required']) {
                                <p class="text-red-400 mt-2 text-sm">Field is required</p>
                            }
                            @if (resetPasswordForm.get('oldPassword')?.errors?.['pattern']) {
                                <p class="text-red-400 mt-2 text-sm">
                                    Password must be 8 characters long. <br>
                                    Should contain at least 1 digit, and 1 uppercase character.
                                </p>
                            }
                        </ng-container>
                    }
                </div>

                <div class="flex flex-col">
                    <label>New Password</label>
                    <input type="password" placeholder="Enter new Password" formControlName="newPassword1"
                    class="border border-gray-300 dark:border-gray-500 placeholder:opacity-50 px-4 py-1.5 w-full rounded-sm">

                    @if (resetPasswordForm.get('newPassword1')?.touched && resetPasswordForm.get('newPassword1')?.dirty) {
                        <ng-container>
                            @if (resetPasswordForm.get('newPassword1')?.errors?.['required']) {
                                <p class="text-red-400 mt-2 text-sm">Field is required</p>
                            }
                            @if (resetPasswordForm.get('newPassword1')?.errors?.['pattern']) {
                                <p class="text-red-400 mt-2 text-sm">
                                    Password must be 8 characters long. <br>
                                    Should contain at least 1 digit, and 1 uppercase character.
                                </p>
                            }
                        </ng-container>
                    }
                </div>

                <div class="flex flex-col">
                    <label>Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" formControlName="newPassword2"
                    class="border border-gray-300 dark:border-gray-500 placeholder:opacity-50 px-4 py-1.5 w-full rounded-sm">

                    @if (resetPasswordForm.get('newPassword2')?.touched && resetPasswordForm.get('newPassword2')?.dirty) {
                        <ng-container>
                            @if (resetPasswordForm.errors?.['noMatch']) {
                                <p class="text-red-400 mt-2 text-sm">Passwords do not match</p>
                            }
                        </ng-container>
                    }
                </div>

                <button class="bg-yellow-500 font-bold dark:text-black w-full py-1.5 rounded-sm mt-7 enabled:cursor-pointer"
                [disabled]="resetPasswordForm.invalid"
                [ngClass]="{'opacity-30': resetPasswordForm.invalid}">Reset password</button>
            </div>
        </form>
    </div>
</div>